body {
  background-color: #fff5fa;
}
.daily-sky {
  background: #e8aeb7;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}
a {
  color: #ec697d;
  font-weight: 900;
}
header {
  border-bottom: 1px solid #fff5fa;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #fde7eb;
  border: 1px solid #e8aeb7;
  border-radius: 8px;
  padding: 15px 20px;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  color: #3a3a3a;
}
.search-form-button {
  background-color: #ec697d;
  border: 1px solid #e8aeb7;
  border-radius: 8px;
  padding: 15px 20px;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #3a3a3a;
}
main {
  font-family: "Nunito", sans-serif;
  color: #3a3a3a;
  padding: 30px 0;
}
.weather-now-city {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  color: #582534;
  margin: 0;
  font-size: 60px;
  line-height: 40px;
}

.weather-now-details {
  font-size: 20px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 48px;
}
.weather-now-details strong {
  color: #a64cf5;
}
.weather-now-data {
  display: flex;
  justify-content: space-between;
}

.weather-now-temperature {
  display: flex;
}
.weather-now-temperature-value {
  font-size: 80px;
  font-weight: bold;
}
.weather-now-temperature-icon {
  font-size: 60px;
}

.weather-now-temperature-unit {
  margin-top: 10px;
  font-size: 40px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: #582534;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 20px;
}
.weather-forecast-icon {
  font-size: 40px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #3a3a3a;

  margin: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 5px;
}
footer {
  font-family: "Nunito", sans-serif;
  color: #3a3a3a;
  border-top: 1px solid #fff5fa;
  padding: 20px 0 0 0px;
  text-align: center;
  font-size: small;
}
